.calc-screen {
  background-color: green;
  text-shadow: -2px -2px 2px #214f29;
  color: #1a3e20;
  margin: 5px;
  padding: 5px 5px 2px 5px;
  font-size: 30px;
  text-align: left;
  border-radius: 4px;
  box-shadow: inset 1px 1px 0px 1px black;
  overflow: hidden;
  font-family: "Calculator";
}
