.calculator-wrapper {
  box-shadow: 6px 6px 0 6px rgb(57, 56, 56);
  width: 200px;
  background-color: darkslategrey;
  padding: 5px;
  border-radius: 4px;
  .calc-buttons-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}
